.place__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  grid-area: title;
}

@media (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 110%;
  }
}

@media (max-width: 767px) {
.place__title {
    margin: 0;
    padding: 0 16px;
    font-size: 32px;
    line-height: 109%;
  }
}