.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0px 48px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media (max-width: 1023px) {
  .photo-grid {
    max-width: 720px;
    padding: 0px 24px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .photo-grid {
    max-width: 288px;
    padding: 0px 16px;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}