.lead {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: white;
}

@media (max-width: 1279px) {
  .lead {
    max-width: 928px;
  }
}

@media (max-width: 1023px) {
  .lead {
    max-width: 768px;
  }
}

@media (max-width: 767px) {
  .lead {
    max-width: 320px;
  }
}