.header {
  margin: 0 auto;
  max-width: 1184px;
  padding: 28px 48px 56px 48px;
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

@media (max-width: 1279px) {
  .header {
    max-width: 928px;
    padding-bottom: 48px;
  }
}

@media (max-width: 1023px) {
  .header {
    max-width: 720px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .header {
    max-width: 288px;
    padding: 16px 16px 48px 16px;
  }
}