.lead__title {
  margin: 0 132px;
  max-width: 720px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
}

@media (max-width: 1279px) {
  .lead__title {
    margin: 0 104px;
  }
}

@media (max-width: 1023px) {
  .lead__title {
    margin: 0 24px;
  }
}

@media (max-width: 767px) {
.lead__title {
    margin: 0 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 110%;
  }
}