.lead__image {
	max-width: 100%;
	max-height: 615px;
	background-size: cover;
}

@media (max-width: 1279px) {
  .lead__image {
    width: 928px;
    height: 580px;
  }
}

@media (max-width: 1023px) {
  .lead__image {
    width: 768px;
    height: 480px;
  }
}

@media (max-width: 767px) {
  .lead__image {
    width: 320px;
    height: 200px;
  }
}