.intro__text {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 33px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

@media (max-width: 767px) {
.intro__text {
    max-width: 288px;
    padding-bottom: 34px;
  }
}