.cover {
  margin: 0 auto;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(42, 44, 47, 0.3),rgba(42, 44, 47, 0.3)),url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cover:hover {
  background-image: linear-gradient(rgba(42, 44, 47, 0.8),rgba(42, 44, 47, 0.8)),url(../../images/cover-trains.jpg);
}

@media (max-width: 1279px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
  }
}