@import url(../vendor/normalize.css);

.page {
	max-width: 1280px;
	margin: auto;
	font-family: 'Inter';
	/* просто копируй эту пачку в каждый проект ↓ */
	/* cглаживание шрифтов для разных браузеров ↓ */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* увеличение шрифтов для разных браузеров ↓ */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	/* кёрнинг и лигатуры для шрифтов разных браузеров ↓ */
	text-rendering: optimizeLegibility;
  }

  /* Кастомизация вертикального скролла */

::-webkit-scrollbar {
	width: 4px;
	background-color: rgb(53, 53, 53);
	border-radius: 10px;
	border: 2px solid white;
  }
  
  ::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #2f80ed;
  }
  
  ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
  }