.place {
  max-width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: auto;
  grid-auto-flow: column;
  grid-template-areas: 
  "title website"
  "image paragraph";
  justify-items: start;
  align-items: start;
  gap: 40px 48px;
  color: #FFFFFF;
}

@media (max-width: 1279px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 456px;
    column-gap: 32px;
  }
}

@media (max-width: 1023px) {
  .place {
    max-width: 720px;
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
  }
}

@media (max-width: 767px) {
  .place {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: auto;
    grid-template-areas: 
    "title" 
    "website"
    "image"
    "paragraph";
    row-gap: 32px;
  }
}