.footer {
  max-width: 1184px;
  margin: 0 auto;
  padding: 92px 48px 24px 48px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1279px) {
  .footer {
    max-width: 928px;
    padding: 88px 24px 24px 24px;
  }
}

@media (max-width: 1023px) {
  .footer {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .footer {
    max-width: 186px;
    padding: 64px 118px 24px 16px;
    flex-direction: column;
  }
}