.place__url-heading {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media (max-width: 1023px) {
.place__url-heading {
    line-height: 100%;
  }
}